.form-section {
  width: 100%;
  max-width: 600px;
  margin: 80px auto 50px;
  background: #f3f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.form-section h2 {
  font-size:22px;
  font-weight: 500;
  margin-bottom: 20px;
  color:#000;
}
.input-box {
  margin-bottom: 10px;
  text-align: left;
}
.input-box label {
  display: block;
  font-weight:500;
  margin-bottom: 5px;
  color: #333;
}
.input-box input {
  width: 100%;
  padding:5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-section button {
  background: #27ae60;
  color: white;
  border: none;
  padding:6px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 5px;
}
.form-section button:hover {
  background: #219150;
}
.form-section h3{
  font-size:20px;
  margin-top:25px;
  font-weight: 500;
  color:#27ae60;
}