<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>FarmVision - Crop Recommendation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/crop.css') }}">
  <link rel="icon" type="image/png" href="/static/images/web-icon2.png">
</head>
<body>
   <!--Header Section-->
  <header>
    <nav>
      <a href="{{ url_for('home.home_page') }}" class="logo">
        <p class="logo-text">FarmVision</p>
        <span class="tagline">Empowering farmers with AI</span>
      </a>
      <ul class="nav-links">
        <li><a href="{{ url_for('home.home_page') }}" >Home</a></li>
        <li><a href="{{ url_for('crop.show_crop_recommendation') }}" class="active">Crop</a></li>
        <li><a href="{{ url_for('disease.show_disease_form') }}" >Disease</a></li>
      </ul>
    </nav>
  </header>

  <!-- Form Section -->
  <section class="form-section">
    <form action="{{ url_for('crop.show_crop_recommendation') }}" method="POST">
      <h2>Find the best crop for your farm...</h2>
      <div class="input-box">
        <label>Nitrogen (N)</label>
        <input type="number" name="N" required>
      </div>
      <div class="input-box">
        <label>Phosphorus (P)</label>
        <input type="number" name="P" required>
      </div>
      <div class="input-box">
        <label>Potassium (K)</label>
        <input type="number" name="K" required>
      </div>
      <div class="input-box">
        <label>Temperature (°C)</label>
        <input type="number" name="temperature" step="0.1" required>
      </div>
      <div class="input-box">
        <label>Humidity (%)</label>
        <input type="number" name="humidity" step="0.1" required>
      </div>
      <div class="input-box">
        <label>pH Value</label>
        <input type="number" name="ph" step="0.1" required>
      </div>
      <div class="input-box">
        <label>Rainfall (mm)</label>
        <input type="number" name="rainfall" step="0.1" required>
      </div>
      <button type="submit">Submit</button>
    </form>
    {% if prediction %}
    <h3 class="prediction">{{prediction | safe}}</h3>
    {% endif %}
  </section>

   <!--Footer Section-->
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <h2>FarmVision</h2>
      </div>
      <p>Made with ❤️ for farmers and agriculture enthusiasts.</p>
      <p>Empowering better crop decisions, detecting diseases early, and improving yields.</p>
      <p>&copy; 2025 FarmVision. All Rights Reserved.</p>
    </div>
  </footer>

</body>